@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

:root {
    --cor-principal: #982c13;
    --cor-secundária: rgb(243, 200, 157);
    --cor-destaque: #e9cdd2;
}

body {
    font-family: 'Merriweather', sans-serif;
}

h1, h2, h5 {
    color: var(--cor-secundária);
    font-weight: 700;
}

footer a {
    color: var(--cor-principal);
}

footer a:hover {
    color: var(--cor-destaque);
} 